<input class="searchInput" type="text" [(ngModel)]="searchQuery" (input)="searchCity()" placeholder="Rechercher une ville...">

<ul>
  <li *ngFor="let city of filteredCities" (click)="onCityClick(city)">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" [src]="cityImageUrls[city.id]" alt="City Image">
      <div class="card-body">
        <h5 class="card-title">{{ city.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ city.sys.country }}</h6>
        <div>
          {{ city.main.temp.toFixed(0) }}°C
        </div>
        <div>
          {{ city.weather[0].description }}
        </div>
      </div>
    </div>
  </li>
</ul>
