ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    display: inline-block;
    width: 20%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
  }
  
  .card {
    margin-bottom: 20px; /* Espace entre les cartes */
    margin-left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 1600px) {
    li {
      width: 25%; /* Sur les petits écrans, répartit les éléments en 2 colonnes */
    }
  }
  
  @media (max-width: 1200px) { 
    li {
      width: 33%; /* Sur les petits écrans, répartit les éléments en 2 colonnes */
    }
  }

  @media (max-width: 900px) {
    li {
      width: 50%; /* Sur les petits écrans, répartit les éléments en 2 colonnes */
    }
  }
  
  @media (max-width: 480px) {
    li {
      width: 100%; /* Sur les écrans très petits, répartit les éléments en une seule colonne */
    }
  }
  
  .searchInput {
    margin: 20px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    margin-left: 50%;
    transform: translateX(-50%);
  }