<!-- Page d'accueil -->
<div class="container">
  <div class="accueilContent text-center"> <!-- Ajout de la classe text-center pour centrer le contenu -->
    <h1 class="display-4">Bienvenue sur la Météo de Gulli !</h1><br><br>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <img class="img-fluid rounded mx-auto d-block" src="./assets/imgfondsinge.jpg" alt="fond météo singe">
      </div>
    </div>

    <br><br>
    <p class="lead">Gulli Météo est votre source de prévisions météorologiques fiables et amusantes !</p>
    <p class="lead">Que vous souhaitiez connaître la météo de votre ville ou explorer les prévisions pour différentes destinations, nous avons tout ce dont vous avez besoin.</p>
    <p class="lead">Nous utilisons les données fournies par OpenWeather, l'un des principaux fournisseurs de services météorologiques dans le monde.</p>
    <p class="lead">OpenWeather collecte des données météorologiques à partir de diverses sources, telles que des satellites, des radars et des stations météorologiques au sol, pour fournir des prévisions précises et en temps réel.</p>
    <p class="lead">Explorez notre site pour découvrir la météo actuelle, les prévisions à court terme et à long terme, ainsi que d'autres informations météorologiques essentielles.</p>
    <p class="lead">Commencez dès maintenant à explorer nos prévisions météorologiques et à profiter de notre site pour rendre vos journées plus agréables et plus sûres !</p>
  </div>
</div>
