<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img rel="accueil" class="logoGulli" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Gulli_logo_2023.png/673px-Gulli_logo_2023.png" alt="logo gulli">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/accueil">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/villeListe">Villes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet/>

