/* Conteneur principal des prévisions */
.forecast-container {
    font-size: 0; /* Correction pour supprimer l'espace entre les éléments inline-block */
    margin-top: 5%;
    margin-left: 15%;
  }

  /* Style pour chaque carte de prévision */
  .forecast-card {
    display: inline-block; /* Affichage en ligne pour chaque carte de prévision */
    width: calc(20% - 20px); /* Largeur de chaque carte de prévision avec espacement */
    margin: 0 20px 20px; /* Espacement entre les cartes de prévision */
    vertical-align: top; /* Alignement vertical au sommet */
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .forecast-card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    color: #bdbdbd;
    background-color: #2a2424; /* Couleur de fond noir */
    width: 100%; /* Largeur du cercle */
    border: 8px solid #282828; /* Taille et couleur de la bordure */
  }

  .forecast-card p {
    margin-bottom: 8px;
    font-size: 16px;
    color: #000000;
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
