<div class="forecast-container">
  <div class="forecast">
    <div class="forecast-card" *ngFor="let forecast of forecasts" [ngStyle]="{'background-image': 'url(' + imageUrls[forecast.weather[0].description] + ')'}">
      <h3>{{ forecast.dt_txt | date: 'EEEE dd MMMM yyyy' }}</h3>
      <p>Température: {{ forecast.main.temp.toFixed(1) }}°C</p>
      <p>Humidité: {{ forecast.main.humidity }}%</p>
      <p>Vitesse du vent: {{ forecast.wind.speed }} m/s</p>
      <p>Pression atmosphérique: {{ forecast.main.pressure }} hPa</p>
      <p>Temps: {{ forecast.weather[0].description }}</p>
    </div>
  </div>

  <button (click)="goBack()">Retour</button>

</div>
