<div class="titreNotFound">
    <h1 style="width: auto">La page n'a pas été trouvée</h1>
    <div class="divBtnRetourVilles">
        <a  href="/accueil" class="btnRetourVilles">Retour</a>
    </div>
</div>
