.titreNotFound {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 5%;
    text-align: center;
}

.btnRetourVilles {
    text-decoration: none;
    color: black;
    font-size: 1.8rem;
}

.divBtnRetourVilles {
    margin-left: 50%;
    margin-top: 5%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgb(209, 205, 205);
}

.divBtnRetourVilles:hover {
    background-color: rgb(235, 224, 224);
}

