.detailsCity {
    margin-top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5ac;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 60%;
  }

  .detailsCity h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
  }

  .detailsCity p {
    margin-bottom: 8px;
    font-size: 16px;
    color: #282828;
  }

  .detailsCity button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .detailsCity button:hover {
    background-color: #0056b3;
  }

  /* Centrer les boutons */
  .detailsCity button:first-child {
    margin-right: auto;
  }

  .detailsCity button:last-child {
    margin-left: auto;
  }

  /* Animation pour les messages de chargement */
  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0.6;
    }
  }

  .loading-message {
    animation: pulse 1.5s infinite;
  }
