<img style="position: absolute; width: 55%; margin-left: 50%; transform: translateX(-50%)" class="card-img-top" [src]="cityImageUrl" alt="City Image">

<div class="detailsCity" *ngIf="city">
  <h3>{{ city.name }} ({{ city.sys.country }})</h3>
  <p>Température: {{ city.main.temp.toFixed(1) }}°C</p>
  <p>Humidité: {{ city.main.humidity }}%</p>
  <p>Vitesse du vent: {{ city.wind.speed }} m/s</p>
  <p>Pression atmosphérique: {{ city.main.pressure }} hPa</p>
  <p>Longitude: {{ city.coord.lon }}</p>
  <p>Latitude: {{ city.coord.lat }}</p>
  <div style="display: flex; width: 20%; justify-content: space-between; margin-left: 50%; transform: translateX(-50%)">
    <button (click)="goToPrevision(city.id)">Prévisions</button>
    <button (click)="goBack()">Retour</button>
  </div>
</div>

<div *ngIf="!city">
  <p>Chargement des détails de la ville...</p>
</div>
